<div class="container col-11">
    <h1><span></span></h1><br><br>
    <h1><span></span></h1><br><br>
  </div>

  
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <p>All About the IsDB-BISEW - IT Scholarship Programme.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Is there any pass marks in the test?<span class="lni-chevron-up"></span></h6>
                        </div>

                            <div class="card-body">
                                <p>There will not be any pass or fail marks for the test. Instead, a percentile ranking system has been adopted to select successful candidates.</p>
                                <p>he project has a cell for the placement of IsDB-BISEW graduates in gainful jobs.</p>
                            </div>

                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Who can apply for the scholarships?<span class="lni-chevron-up"></span></h6>
                        </div>

                            <div class="card-body">
                                <p>This scholarship is only for Muslim youths who have already passed Bachelor’s (Pass Course/Honours)/Fazil or Master’s/Kamil degree examination.</p>
                                <p>Process is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                            </div>

                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">How would the training be delivered?<span class="lni-chevron-up"></span></h6>
                        </div>
                        
                            <div class="card-body">
                                <p>Training under the IT Scholarship Programme may be delivered either through in-person classes at the TSP premise or via online classes. </p>
                                <p>At present, only the courses for 4-year diploma candidates under the groups &amp; Web Application Development, Networking and Graphics & Multimedia are delivered online.</p>
                            </div>

                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="#"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>